.home-header-logo-area {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin-bottom: 24px;
}


.main-logo-text {
  color: #2568ef;
  font-weight: 800;
  font-size: 32px;
  letter-spacing: 1px;
}
